body {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.one{
    background-color: aqua;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two{
    background-color: brown;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}